<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./stylesheets/application.css">
    <title>つぶやきアプリ</title>
</head>

 <%= render 'form' %>

 <p>新しく投稿する</p>

</head>